.category-item{
  width: 120px;
  height: 129px;
  border: black 2px solid;
  border-radius: 5%;
  margin: 2%;
}
.category-img{
  width: 80px;
  height: 80px;
}
.btn{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: white;
  border: black 1px solid;
}
.cat-name{
  font-size: small;
}


