<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"
     routerLink="/"
     routerLinkActive="active-link"
     [routerLinkActiveOptions]="{exact: true}">MoneyTracking</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="authService.isAuthenticated()"
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link"
           routerLink="/" >Home</a>
      </li>
      <li *ngIf="authService.isAuthenticated()"
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link"
           routerLink="/cost-table">Cost table</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button *ngIf="!authService.isAuthenticated()"
              class="btn btn-outline-success my-2 my-sm-0"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/login']"
        >Login</a>
      </button>
      <button *ngIf="authService.isAuthenticated()"
              class="btn btn-outline-success my-2 my-sm-0"
              (click)="logout()">
        <a [routerLink]="['']">Logout</a>
      </button>
      <button *ngIf="!authService.isAuthenticated()"
              class="btn btn-outline-success my-2 my-sm-0"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/register']">Register</a>
      </button>
    </div>
  </div>
</nav>
